<section (window:resize)="onResize($event)" class="proyectos">
	<app-trapezoide [nombreSeccion]="nombreSeccionProyectos"></app-trapezoide>

	<article class="proyectosContent">
		<div class="gallery" *ngFor="let proyecto of proyectos" (click)="onSelect(proyecto);">
			<div class="img-container">
				<img class="gallery-img" [src]="proyecto.imgs[proyecto.imgindex]" alt={{proyecto.nombre}}>
				<div class="overlay">
					<div class="text">{{proyecto.nombre}}</div>
				</div>
			</div>
		</div>
	</article>
</section>

<app-modal [proyecto]="selectedProyecto"></app-modal>