<div id="landing">
	<!--<div id="myModal" class="modal-warning-construccion">
	  <div class="content">
		<div class="icono">
			<i class="fas fa-exclamation-triangle"></i>
		</div>
		<div class="texto">
			<p>La página se encuentra en construcción</p>
			<br>
			<p>Puedes visitar la versión anterior en este <a href="http://mbarcina001.github.io/Portfolio_old">enlace</a>
	  </div>
	</div>
	</div>-->

	<div id="landing-content">
		<div id="titulo">
			<h1>Hola<span class="coma">,</span> me llamo <span class="name">Mikel</span></h1>
		</div>
		
		<div id="info">
			<p>Soy ingeniero informático de gestión y sistemas de información graduado por la Universidad Pública del País Vasco.</p>

			<p>Estoy principalmente interesado en el desarrollo software y el diseño web. También tengo una curiosidad especial por la minería de datos y las aplicaciones que este ámbito permite desarrollar. Además me apasiona el estudio de las nuevas tecnologías que surgen dentro del ámbito de la informática.</p>	
			
			<p>Actualmente me encuentro trabajando en Informática de Euskadi (IDE) donde mi principal trabajo es la implementación y el mantenimiento de las webs de Caixa Consumer Finance.</p>
		</div>
		
		<div id="descargacurriculum">
			<a class="descargacurriculum" href="/assets/documents/curriculum.pdf">Descarga mi curriculum <i class="fa fa-download" aria-hidden="true"></i></a>
		</div>
		
		<div id="trayectoria">
			<p>
				<a href="#proyectos">
					Descubre más acerca de mí
					<i class="animated infinite bounce fas fa-angle-down fdown"></i>
				</a>
			</p>
		</div>
	</div>
</div>