<section id="proyectos" class="proyectos">
<div>
	<div class="trapezoid white"></div>
	<div class="trapezoid black"></div>
	<div class="trapezoid black"><h1>Proyectos</h1></div>
</div>

<article id="proyectosContent" class="proyectosContent">
	<div class="gallery" *ngFor="let proyecto of proyectos" (click)="onSelect(proyecto);">
		<div class="img-container">
			<img class="gallery-img" [src]="proyecto.imgs[proyecto.imgindex]" alt={{proyecto.nombre}}>
			<div class="overlay">
				<div class="text">{{proyecto.nombre}}</div>
			</div>
		</div>
	</div>
</article>
</section>

<section (window:resize)="onResize($event)" id="proyectosCarrera" class="proyectos">
<div>
	<div class="trapezoid white"></div>
	<div class="trapezoid black"></div>
	<div id="tituloProyectosCarrera" class="trapezoid black"><h1>Proyectos Carrera</h1></div>
</div>

<article id="proyectosCarreraContent" class="proyectosContent">
	<div class="gallery" *ngFor="let proyectoCarrera of proyectosCarrera" (click)="onSelect(proyectoCarrera);">
		<div class="img-container">
			<img class="gallery-img" [src]="proyectoCarrera.imgs[proyectoCarrera.imgindex]" alt={{proyectoCarrera.nombre}}>
			<div class="overlay">
				<div class="text">{{proyectoCarrera.nombre}}</div>
			</div>
		</div>
	</div>
</article>
</section>

<app-modal [proyecto]="selectedProyecto"></app-modal>