<div id="modalProyectos" class="modalProyectos oculto" *ngIf="proyecto">
	<div class="modal-content">
		<div class="close">
			<span (click)="ocultarModal()">&times;</span>
		</div>
		
		<div class="modalImg">
			<div class="flecha-container">
				<div class="flecha flechaIzq" (click)="anteriorImg(); flechaClick('flechaIzq');"> <i class="fas fa-angle-left"></i> </div>
			</div>
			<div class="img-container">
				<img [src]="proyecto.imgs[proyectoIndex]">
				
				<div class="pagination-wrapper">
					<div class="pagination-container">
						<div class="little-dot  little-dot--first"></div>
						<div class="little-dot">
						  <div class="big-dot-container">
							<div class="big-dot"></div>
						  </div>
						</div>
						<div class="little-dot  little-dot--last"></div>
					</div>
				</div>
			</div>
			<div class="flecha-container">
				<div class="flecha flechaDch" (click)="siguienteImg(); flechaClick('flechaDch');"> <i class="fas fa-angle-right"></i> </div>
			</div>	
		</div>
		
		<div class="modalCaption">
			<p class="textoCaption">{{this.proyecto.descripcion}}</p>
			<div class="textoCaption" *ngIf="this.proyecto.caracteristicas.length>0">
				Características:<br>
				<ul>
					<li *ngFor="let caracteristica of this.proyecto.caracteristicas">
						{{caracteristica}}
					</li>
				</ul>
			</div>
			
			<div class="link-container" *ngIf="this.proyecto.tipolink==='arklink'">
				<a class="link arklink" href="{{this.proyecto.enlace}}" target="_blank">
					Enlace al juego
				</a>
			</div>
			
			<div class="link-container" *ngIf="this.proyecto.tipolink==='gitlink'">
				<a class="link gitlink" href="{{this.proyecto.enlace}}" target="_blank">
					<i class="fab fa-github fa-2x"></i> Enlace en Github
				</a>
			</div>
			
			<div class="link-container" *ngIf="this.proyecto.tipolink==='IXA'">
				<p><i>Este proyecto es propiedad del grupo de investigación IXA de la UPV/EHU, y su código no se encuentra disponible para ser mostrado de forma pública.</i></p>
			</div>
			
			<div class="link-container" *ngIf="this.proyecto.tipolink==='mmlink'">
				<a class="link mmlink" href="{{this.proyecto.enlace}}" target="_blank">
					Enlace a la web
				</a>
			</div>
			
			<div class="link-container" *ngIf="this.proyecto.tipolink==='No'">
				<p><i>Enlaces no disponibles.</i></p>
			</div>
			
		</div>
	</div>
</div>