<section id="trayectoria" class="trayectoria">
    <app-trapezoide [nombreSeccion]="nombreSeccion"></app-trapezoide>

    <div class="desktop" *ngIf="!isMobile()">
        <div class="logos d-flex justify-content-center">
            <img *ngFor="let trayectoria of this.listaTrayectorias" 
                class="rounded-circle mb-4 mr-2 ml-2 logo-trayectoria" 
                [src]="trayectoria.imagen" 
                (click)="selectTrayectoria(trayectoria)">
        </div>
        <div class="info-trayectoria">
            <h2 class="text-center">{{this.selectedTrayectoria.nombreEmpresa}}</h2>
            <h3>{{this.selectedTrayectoria.cargo}}</h3>
            <h4 class="date">{{this.selectedTrayectoria.tiempo}}</h4>

            <div [innerHTML]=this.selectedTrayectoria.descripcion></div>
        </div>
    </div>

    <div class="mobile" *ngIf="isMobile()">
        <div class="logos row justify-content-center">
            <img *ngFor="let trayectoria of this.listaTrayectorias" 
                class="rounded-circle mb-4 logo-trayectoria" 
                [src]="trayectoria.imagen" 
                (click)="selectTrayectoria(trayectoria)">
        </div>

        <div class="info-trayectoria">
            <h2 class="text-center">{{this.selectedTrayectoria.nombreEmpresa}}</h2>
            <h3>{{this.selectedTrayectoria.cargo}}</h3>
            <h4 class="date">{{this.selectedTrayectoria.tiempo}}</h4>

            <div [innerHTML]=this.selectedTrayectoria.descripcion></div>
        </div>
    </div>

</section>