#trayectoria{
    margin:50px;
}

.logo-trayectoria{
    width:100px; 
    height:100px; 
    display:block;
    border: 5px solid black;
    cursor:pointer;
}

.info-trayectoria{
    background-color:grey; 
    width:100%;
}