<div id="landing">
	<div id="landing-content">
		<div id="titulo">
			<h1>Hola<span class="coma">,</span> me llamo <span class="name">Mikel</span></h1>
		</div>
		
		<div id="info">
			<p>Soy ingeniero informático de gestión y sistemas de información graduado por la Universidad Pública del País Vasco.</p>

			<p>Estoy principalmente interesado en el desarrollo software y el diseño web. También tengo una curiosidad especial por la minería de datos y las aplicaciones que este ámbito permite desarrollar. Además me apasiona el estudio de las nuevas tecnologías que surgen dentro del ámbito de la informática.</p>	
		</div>
		
		<div id="descargacurriculum">
			<a class="descargacurriculum" href="/Portfolio/assets/documents/Mikel_Barcina_Curriculum.pdf" target="_blank">Descarga mi curriculum <i class="fa fa-download" aria-hidden="true"></i></a>
		</div>
		
		<div id="trayectoria">
			<p>
				<a href="#trayectoria">
					Descubre más acerca de mí
					<i class="animated infinite bounce fas fa-angle-down fdown"></i>
				</a>
			</p>
		</div>
	</div>
</div>