@font-face {
	font-family: "MMTextPro-Semibold";
	src: url("/Portfolio/assets/webfonts/MMTextProWebTT-Bold.eot?") format("eot"),
		 url("/Portfolio/assets/webfonts/MMTextProWebTT-Bold.woff") format("woff"),
		 url("/Portfolio/assets/webfonts/MMTextProWebTT-Bold.ttf") format("truetype"),
}

.link-container {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
    margin-bottom:20px;
    
    .link{
        color: white;
        width: 250px;
        border-radius: 300px;
        text-decoration: none;
        display: block;
        margin: 20px auto 20px auto;
        text-align: center;
        padding: 20px;
            text-align: center;
        
        i {
            margin-right: 20px;
        }
    }
    
    .arklink {
        background-color: #00edc5;
        width:80%;
    }
    
    .gitlink {
        background-color: #000;
        width:80%;
    }
    
    .mmlink {
        background-color: #DF0000;
        font-family: MMTextPro-Semibold;
    }
    
    p{
        margin-left:10px;
        margin-right:10px;
    }
}