form{
    margin-top:-40px;
    width:70%;
    margin-left:10%
}

input{
    border-radius:20px;
    width:100%;
    margin-bottom:10px;
}

input:focus{
    border-radius:20px;
}

textarea{
    border-radius:15px;
}

.contacto{
    margin:50px;
}

.btn-dark{
    padding:10px 50px;
    margin-right:auto;
    margin-left:auto;

}