<section id="contacto" class="contacto">
    <app-trapezoide [nombreSeccion]="nombreSeccion"></app-trapezoide>

    <form>
        <input id="nombre" class="form-control text-input" type="text" placeholder="nombre">
        <input id="mail" class="form-control text-input" type="text" placeholder="mail">
        <textarea class="form-control" rows="5" id="mensaje"  placeholder="mensaje"></textarea>
    </form>
        <div class="row mt-4">
            <button type="button" class="btn btn-dark">Enviar</button>
        </div>
</section>