<section id="contacto" class="contacto">
    <app-trapezoide [nombreSeccion]="nombreSeccion"></app-trapezoide>

    <form #myForm="ngForm" novalidate>
        <input id="nombre" #nombre="ngModel" [(ngModel)]="nombreText" name="nombre" class="form-control text-input" type="text" placeholder="nombre" required minlength="5">
        <app-error-campo [control]="nombre"></app-error-campo>
        <input id="mail" name="mail" class="form-control text-input" type="text" placeholder="mail" required>
        <app-error-campo [control]="mail"></app-error-campo>
        <textarea id="mensaje" name="mensaje" class="form-control" rows="5" placeholder="mensaje" required></textarea>
        <app-error-campo [control]="mensaje"></app-error-campo>
    </form>

    <div class="row mt-4">
        <button type="button" class="btn btn-dark" (click)="enviar(myForm)">Enviar</button>
    </div>
</section>