<section id="contacto" class="contacto">
    <app-trapezoide [nombreSeccion]="nombreSeccion"></app-trapezoide>

    <form #myForm="ngForm" novalidate action="https://formspree.io/your@email.com" method="POST">
        <div class="form-input">
            <input 
                id="nombre" 
                #nombre="ngModel" 
                [(ngModel)]="nombreText" 
                name="nombre" 
                class="form-control text-input" 
                type="text" 
                placeholder="nombre" 
                required minlength="5"
            />
            <app-error-campo [control]="nombre"></app-error-campo>
        </div>
        <div class="form-input">
            <input 
                id="mail" 
                #mail="ngModel" 
                [(ngModel)]="mailText" 
                name="mail" 
                class="form-control text-input" 
                type="text" 
                placeholder="mail" 
                required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            />
            <app-error-campo [control]="mail"></app-error-campo>
        </div>
        <div class="form-input">
            <textarea 
                id="mensaje" 
                #mensaje="ngModel" 
                [(ngModel)]="mensajeText" 
                name="mensaje" 
                class="form-control" 
                rows="5" 
                placeholder="mensaje" 
                required minlength="20"
            ></textarea>
            <app-error-campo [control]="mensaje"></app-error-campo>
        </div>
    </form>

    <div class="row mt-4">
        <button type="button" class="btn btn-dark" (click)="enviar(myForm)">Enviar</button>
    </div>
</section>